<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

< <!-- About Me Content -->
  <main id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>Hi there, my name is Krunal Prajapati and welcome to the about me page. I was born in India; therefore I can speak Gujarati, Hindi and English.
        Previously, I completed my 12th grade in India. Nowadays, I am studying the third semester from the Software
        Engineering Technician program at Centennial College.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="/Assets/images/KP.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Software developer</h3>
        <p>
          Multi-faceted Software Developer knowledgeable in HTML, JavaScript, Java, C#. True team player offering 5 years of experience in software development.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Birthday:</strong> 29 June 2003</li>
              <li><i class="fas fa-caret-right"></i> <strong>Phone:</strong> (+1) 647 8891672</li>
              <li><i class="fas fa-caret-right"></i> <strong>City:</strong> Toronto, Canada</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Age:</strong> 19</li>
              <li><i class="fas fa-caret-right"></i> <strong>Education:</strong>12th grade</li>
              <li><i class="fas fa-caret-right"></i> <strong>Email:</strong> kpraja27@my.Centennialcollege.ca</li>
              <li><i class="fas fa-caret-right"></i> <strong>Resume:</strong> <a href="/Assets/files/Resume_Krunal.docx">PDF Version</a></li>
            </ul>
          </div>
        </div>
        <p>
          Always looking for new challenges to continuously develop in personal and work environments.
          Confident in my ability to adapt, face and overcome challenges, always giving the best possible solution.
          Excellent interpersonal skills, demonstrated by communication with clients, colleagues and <non-technical>
          professionals on a daly basis.
          </non-technical>
        </p>
      </div>
    </div>
  </div>
  </main>

<%- include partials/footer.ejs %>